

# This directory is where you'd like all 
# your go of a version to reside.

export INSTALL_ROOT=/path/to/your/goroot/

export GOPATH=$INSTALL_ROOT/go
export GORSRC=$INSTALL_ROOT/gosrc
export GOROOT=$INSTALL_ROOT/gosrc/go
export GOARCH=amd64
export GOOS=linux
export CGO_ENABLED=0
export GOROOT_BOOTSTRAP=$INSTALL_ROOT/go1.4
export GOPATH=$INSTALL_ROOT/go
export GOLANGVER=1.17.13
export PATH=$PATH:$GOPATH/bin:$GOROOT/bin

echo "INSTALL_ROOT=$INSTALL_ROOT"

echo "PATH=$PATH"
echo "GOPATH=$GOPATH"
echo "GOSRC=$GOSRC"
echo "GOROOT=$GOROOT"
echo "GOARCH=$GOARCH"
echo "GOOS=$GOOS"

echo "CGO_ENABLED=$CGO_ENABLED"
echo "GOROOT_BOOTSTRAP=$GOROOT_BOOTSTRAP"
echo "GOPATH=$GOPATH"
echo "GOLANGVER=$GOLANGVER"
echo "=================="

